<div class="places">
    <div class="place card mb-3" *ngFor="let post of posts">
        <div class="info card-body">
            <h4 class="card-title">{{post.title}}</h4>
            <small class="card-subtitle text-muted">Publicado por: {{post.author}}</small><br />
            <small class="card-subtitle text-muted">Fecha de publicación: {{post.date}}</small>
            <div class="card-text">
                <p class="mt-3">{{post.description}}</p>
            </div>
            <button class="btn btn-danger" *ngIf="post.authorId === userService.getUserId()" (click)="onClickDelete(post)">
                <i class="fas fa-trash me-2"></i> Eliminar
            </button>
        </div>
    </div>
    <p *ngIf="!this.posts.length">No se han encontrado publicaciones...</p>
</div>