<h2 class="text-center mb-4">Iniciar sesión</h2>
<form [formGroup]="formLogin" (ngSubmit)="onSubmit()" class="">
    <mdb-form-control class="mb-3" [class.mb-5]="loginEmail?.invalid && loginEmail?.touched">
        <input mdbInput mdbValidate type="text" id="form1" class="form-control" formControlName="email"/>
        <label mdbLabel class="form-label" for="form1">Correo electrónico</label>
        <div *ngIf="(loginEmail?.invalid && loginEmail?.touched) || loginEmail?.dirty">
            <mdb-error *ngIf="loginEmail?.errors?.['required']">Correo electrónico requerido</mdb-error>
            <mdb-error *ngIf="loginEmail?.errors?.['pattern']">Correo electrónico no válido</mdb-error>
        </div>
    </mdb-form-control >
        
    <mdb-form-control class="mb-3" [class.mb-5]="loginPassword?.invalid && loginPassword?.touched">
        <input mdbInput mdbValidate type="password" id="form1" class="form-control" formControlName="password"/>
        <label mdbLabel class="form-label" for="form1">Contraseña</label>
        <div *ngIf="(loginPassword?.invalid && loginPassword?.touched) || loginPassword?.dirty">
            <mdb-error *ngIf="loginPassword?.errors?.['required']">Contraseña requerida</mdb-error>
        </div>
    </mdb-form-control>
    <input type="submit" value="Iniciar sesión" class="btn btn-primary btn-block btn-lg mb-4">
</form>
<div class="text-center">
    <button class="btn btn-link" (click)="onClick()">
        <i class="fab fa-google me-2"></i> Iniciar sesión con Google
    </button>
</div>